canvas{
    border: 1px solid #000;
    background: #fff;
    margin: 0 auto;
    display: block;
    height: 600px;
    width: 600px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    border-bottom: 1px solid #000;
    text-align: center;
    margin-bottom: 50px;
}

.content{
    display: flex;
    flex-direction: row;
}

.UI{
    top: 10%;
    left: 20px;
    width: 20%;
    border: 1px solid #000;
    text-align: center;
}

.UI button{
    margin: 5px;
}

.UI input{
    margin: 5px;
}



#phButtons{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#phButtons button{
    margin: 5px;
}

.Info{
    top: 10%;
    right: 20px;
    width: 20%;
    border: 1px solid #000;
    text-align: center;
}